@page
@model MyCoreApp.Pages.HobbiesModel
@{
}
<h1>What I do for fun, well glad your interested</h1>
<p>I enjoy my time off playing video games and some times making little programming projects</p>
<p>Sea of Thieves</p>
<p>Clash of Clans</p>
<p>Monster Hunter Franchise</p>
<p>Deep Rock Galactic</p>
<p></p>
<p>This website</p>
<p>Others listed in projects page</p>