@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Who am I?</h1>
    <p>I am Benjamin Fehr</p>
    <p>A fresh out of college Computer Science major looking for work</p>
</div>
