@page
@model MyCoreApp.Pages.ProjectsModel
@{
    ViewData["Title"] = "Projects";
}
<h1>A small (and not entirely inclusive) list of some more notable projects I've made both for my degree and on my own</h1>
<h4>Gentlemen's Heist</h4>
<p>A Top down pixel art style game about collecting items and avoiding security</p>
<h4>Neon Rush</h4>
<p>A fast paced parkour-centered first person shooter. Focused around quick movement mechanics and dodging obstacles</p>
<h4>Banking Stack</h4>
<p>A small Python project using Plaid API to check user bank balance and set up plans</p>
<h4>Unnamed Node.JS Docker Twilio App</h4>
<p>A personal project I made using HTML Node.JS Docker and Twilio API</p>
<h4>This Site</h4>
<p>This little website was made using HTML and C# .NET</p>